@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
}

@font-face {
    font-family: 'Bebas';
    src: url(../fontes/BebasNeue-Regular.ttf) format('truetype');
}

:root{
    --fonte-android: 'idroid', 'cursive';
    --fonte-padrao: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
    --fonte-destaque: 'Bebas', 'sans-serif';
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #063d1e;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

p{
    font-size: 1.1em;
    text-indent: 25px;
    line-height: 2em;
}

header{
    width: 100%;
    background-image:linear-gradient(180deg, var(--cor4), var(--cor5));
    padding-top: 10px;

}

header h1{
    text-align: center;
    font-family: var(--fonte-destaque);
    color: #fff;
    
}

header p{
    text-align: center;
    max-width: 600px;
    margin: auto;
    color: #fff;
    padding: 10px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.297);
}

nav a{
    border-radius: 3px;
    width: 100%;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #095229c3;
    color: var(--cor3);
    transition-duration: 0.5s ;
}

main{
    background-color: #fff;
    margin:10px auto;
    padding: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.493);
    min-width: 320px;
    max-width: 800px;
}

main h1{
    margin: 10px 0px;   
    border-radius: 2px;
    padding: 3px;
    background-image: linear-gradient(90deg, var(--cor1), #fff);
    font-family: var(--fonte-android);
}

main h2{
    margin: 10px 0px;
    border-radius: 2px;
    padding: 3px;
    font-family: var(--fonte-android);
    background-image: linear-gradient(90deg, var(--cor1), #fff);
}

main strong{
    color: var(--cor3);
}

main a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;

}

main a::after{
    content: '\1F517';
}
#dandroid{
    text-align: center;
}

main a:hover{
    text-decoration: underline var(--cor3);
    color: var(--cor3);
    transition-duration: 0.4s;
}

img{
    display: block;
    margin: auto;
    width: 100%;
}
.small{
    max-width: 400px;
}

#iframe-div{
    position: relative;
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 29%;
}
iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

aside{
    margin: 15px;
    padding: 10px;
    background-color: var(--cor2);
    border-radius: 8px;
    border: 3px solid var(--cor5);
}

aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}

aside ul abbr{
    text-decoration: none;
}

aside strong{
    color: var(--cor4);
}

aside a{
    color: var(--cor5);
}

aside a:hover{
    color: var(--cor4);
}

footer{
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;

}
footer strong{
    color: white;
}